<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head('Cadastro de cor')}"></head>
<body class="d-flex flex-column min-vh-100">

<nav th:replace="~{fragments :: menu}"></nav>

<main class="flex-grow-1 d-flex flex-column justify-content-start pt-5">
    <div class="container">
        <h1 class="text-center mb-4">Cadastro de Cor</h1>

        <div class="row justify-content-center mt-n3">
            <div class="col-md-6 col-lg-4">
                <form class="p-4 border rounded shadow-sm bg-white"  method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="nome" autofocus>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

</body>
</html>