<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head('index')}"></head>
<body>

<nav th:replace="~{fragments :: menu}"></nav>

<div class="container mt-5">
    <h1 class="d-flex justify-content-center">Seja Bem-Vindo ao Sistema!</h1>

    <div class="card mt-5">
        <div class="card-body text-center">
            <h5 class="card-title">Projeto do curso técnico desenvolvimento de sistemas</h5>
            <p class="card-text mt-4">Este projeto tem como finalidade atender os requisitos principais
            de um sistema de lavação<br> de carro, fazendo com que os alunos tenham maior entendimento de como
            funciona o desenvolvimento de um sistema.</p>
        </div>
    </div>

</div>

</body>
</html>